@use "../../scss/variable";
@use "../../scss/mixin";

$accordion-filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2))
drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14))
drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12));
// $accordion-drawer-animation: ;
// $accordion-transition: ;

@mixin lg-accordion-typography {
  font-family: variable.$font-family;
  letter-spacing: 0.15px;
  font-style: normal;
  text-align: start;
  font-weight: 400;
  font-size: 16px;
}

@mixin sm-accordion-typography {
  font-family: variable.$font-family;
  letter-spacing: 0.14px;
  font-style: normal;
  text-align: start;
  font-weight: 400;
  font-size: 15px;
}

@mixin accordion-gutter {
  padding: 0 16px;
  margin: 16px 0;
}

// typography
.antraUI-Accordion-container p {
  margin: 0;
}
.antraUI-Accordion-summary-typography {
  @include sm-accordion-typography;
  width: 40%;
}
.antraUI-Accordion-detail-typography {
  @include lg-accordion-typography;
  width: 100%;
}
.antraUI-Accordion-summary-subtitle-typography {
  @include sm-accordion-typography;
  width: 45%;
}

// containers
.antraUI-Accordion-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;

  filter: $accordion-filter;

  &:first-of-type {
    border-radius: 4px 4px 0px 0px;
  }
  &:last-of-type {
    border-radius: 0px 0px 4px 4px;
  }
}

.antraUI-Accordion-summary-container {
  @include accordion-gutter;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  cursor: pointer;
}

.antraUI-Accordion-detail-container {
  @include accordion-gutter;
  width: 100%;
  overflow: hidden;
  transition: all 0.6s ease;
}

// wrappers
.antraUI-Accordion-icon {
  height: 24px;
  width: 24px;
  transition: transform 0.6s ease;
}

// animation
