@use "../../scss/variable";
@use "../../scss/mixin";

$accordion-filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2))
drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14))
drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12));
// $accordion-drawer-animation: ;
// $accordion-transition: ;

@mixin lg-accordion-typography {
  font-family: variable.$font-family;
  letter-spacing: 0.15px;
  font-style: normal;
  text-align: start;
  font-weight: 400;
  font-size: 16px;
}

@mixin sm-accordion-typography {
  font-family: variable.$font-family;
  letter-spacing: 0.14px;
  font-style: normal;
  text-align: start;
  font-weight: 400;
  font-size: 15px;
}

@mixin accordion-gutter {
  padding: 0 16px;
  margin: 16px 0;
}

// typography
.accordion__summary--typography {
  @include sm-accordion-typography;
  width: 40%;
  margin: 0;
}
.accordion__subSummary--typography {
  @include sm-accordion-typography;
  width: 45%;
  margin: 0;
}
.accordion__detail--typography {
  @include lg-accordion-typography;
  width: 100%;
  margin: 0;
}

// containers
.accordion__panel--container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  transition: all 1s ease;

  filter: $accordion-filter;

  &:first-of-type {
    border-radius: 4px 4px 0px 0px;
  }
  &:last-of-type {
    border-radius: 0px 0px 4px 4px;
  }
}

.accordion__summary--container {
  @include accordion-gutter;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  cursor: pointer;
}

.accordion__detail--wrapper {
  display: block;
  max-width: 100%;
  transition: max-height 1s ease;
  overflow: auto;
}
.accordion__detail--wrapper::-webkit-scrollbar {
  display: none;
}

// icon
.accordion__icon--wrapper {
  height: 24px;
  width: 24px;
  transition: transform 0.6s ease;
}

// animation
