@use "../../scss/variable";
@use "../../scss/mixin";

.rate{
    display: flex;
    position: relative;
    border: 1px solid pink;
    width: fit-content;
}

.rate > button {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    font-size: 2em;
    width: 2em;
    height: 2em;
}
.disabled{
    color: gray;
}
.disabled:active{

}
.icon:focus-visible{

}
.icon:active:not([disabled]){
    border: 1px solid red;
}
.icon:hover:not([disabled]){
    border: 1px solid red;
}
.icon:active{
    border: 1px solid blue;
}
.icon:read-only:hover{
    border: 1px solid transparent;
}
.iconFilled {
    color: black;
}
.iconEmpty {
    color: #ccc;
}
.sizeSmall{

}
.sizeMedium{

}
.sizeLarge{

}