@use "../../scss/variable";
@use "../../scss/mixin";

.rate > button {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    width: 2em;
    height: 2em;
    line-height: 2em;
}
.disabled:hover{

}
.disabled:active{

}
.icon:focus-visible{

}
.icon:active:not([disabled]){
  border: 1px solid red;
}
.icon:hover:not([disabled]){

}
.icon:read-only:not([disabled]){

}
.iconFilled {
    color: yellow;
}
.iconEmpty {
    color: #ccc;
}
.sizeSmall{

}
.sizeMedium{

}
.sizeLarge{

}