@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.AntraUI-Switch-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58px;
    &.AntraUI-Switch-label {
        width: 146px;
        &.AntraUI-Switch-small {
            width: 128px;
        }
    }
    height: 38px;
    gap: 10px;
    cursor: pointer;
    &.AntraUI-Switch-isDisabled {
        cursor: revert;
    }

    &:hover &:not(.AntraUI-Switch-isDisabled) > .AntraUI-Switch > .AntraUI-Switch-HeadHover {
        display: revert;
    }
}

.AntraUI-Switch {
    position: relative;
}
.AntraUI-Switch-Track {
    width: 34px;
    height: 14px;
    &.AntraUI-Switch-small {
        width: 26px;
        height: 10px;
    }
    border-radius: 7px;
    opacity: 50%;

    &.AntraUI-Switch-primary {
        background-color: #3F51B5;
    }
    &.AntraUI-Switch-secondary {
        background-color: #F50057;
    }
    &.AntraUI-Switch-default {
        background-color: #000000;
    }

    &.AntraUI-Switch-notChecked {
        background-color: #000000;
        opacity: 38%;
    }

    &.AntraUI-Switch-isDisabled {
        opacity: 12%;
        background-color: #000000;
    }
}
.AntraUI-Switch-Head {
    position: absolute;
    width: 20px;
    height: 20px;
    &.AntraUI-Switch-small {
        width: 16px;
        height: 16px;
    }
    border-radius: 10px;
    top: -3px;
    left:0px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s;

    &.AntraUI-Switch-primary {
        background-color: #3F51B5;
    }
    &.AntraUI-Switch-secondary {
        background-color: #F50057;
    }
    &.AntraUI-Switch-default {
        background-color: #FAFAFA;
    }

    &.AntraUI-Switch-isChecked {
        &.AntraUI-Switch-medium {
            transform: translate(14px, 0);
        }
        &.AntraUI-Switch-small {
            transform: translate(10px, 0);
        }
    }
    &.AntraUI-Switch-notChecked {
        transform: translate(0px, 0);
        background-color: #FAFAFA;
        &.AntraUI-Switch-secondary {
            background-color: #BDBDBD;
        }
    }

    &.AntraUI-Switch-isDisabled {
        background-color: #BDBDBD;
    }
}
.AntraUI-Switch-Ripple {
    position: absolute;
    background-color: #151b3a;
    &.AntraUI-Switch-secondary {
        background-color: #750029;
    }
    &.AntraUI-Switch-isChecked {
        opacity: 4%;
        background-color: #000000;
    }
    &.AntraUI-Switch-medium {
        animation: SwitchRippleEffect 0.4s linear;
    }
    &.AntraUI-Switch-small {
        animation: SwitchRippleEffectSmall 0.4s linear;
    }
    border-radius: 50%;
}
@keyframes SwitchRippleEffect {
    0% {
        width:0%;
        height:0%;
        top: 50%;
        left: 50%;
        opacity: 0.3;
    }
    100%{
        width:200%;
        height:200%;
        top: -50%;
        left: -50%;
        opacity: 0;
    }
}
@keyframes SwitchRippleEffectSmall {
    0% {
        width:0%;
        height:0%;
        top: 50%;
        left: 50%;
        opacity: 0.3;
    }
    100%{
        width:150%;
        height:150%;
        top: -25%;
        left: -25%;
        opacity: 0;
    }
}
.AntraUI-Switch-HeadHover {
    position: absolute;
    display: none;
    width: 38px;
    height: 38px;
    top: -11px;
    left:-9px;
    &.AntraUI-Switch-small {
        width: 24px;
        height: 24px;
        top: -7px;
        left: -4px;
    }
    border-radius: 50%;
    opacity: 8%;
    background-color: #3F51B5;
    &.AntraUI-Switch-secondary {
        background-color: #F50057;
    }
    transition: transform 0.2s;

    &.AntraUI-Switch-isChecked {
        &.AntraUI-Switch-medium {
            transform: translate(14px, 0);
        }
        &.AntraUI-Switch-small {
            transform: translate(10px, 0);
        }
    }
    &.AntraUI-Switch-notChecked {
        transform: translate(0px, 0);
    }
    &.AntraUI-Switch-notChecked {
        opacity: 4%;
        background-color: #000000;
    }
}
.AntraUI-Switch-Label {
    flex: 1;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
}