@use "../../scss/variable";
@use "../../scss/mixin";

$color-map: (
  primary: (
    default: variable.$primary-color,
    hover: variable.$primary-color-hover,
    disabled: red,
    textColor: #ffffff,
  ),
  secondary: (
    default: variable.$secondary-color,
    hover: variable.$secondary-color-hover,
    disabled: red,
    textColor: #ffffff,
  ),
  default: (
    default: variable.$default-color,
    hover: variable.$default-color-hover,
    disabled: red,
    textColor: rgba(0, 0, 0, 0.87),
  ),
);

@mixin color-size-class-label($color, $size, $labelPlace) {
  .checkbox-#{$color}-#{$size} {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    margin: 9px;
    padding: 9px;
    z-index: 1;
    @if $size == "small" {
      height: variable.$small-box-size;
      width: variable.$small-box-size;
    } @else if $size == "medium" {
      height: variable.$medium-box-size;
      width: variable.$medium-box-size;
    } @else if $size == "large" {
      height: variable.$large-box-size;
      width: variable.$large-box-size;
    }
  }
  .checkbox-#{$color}-#{$size}:disabled {
    cursor: default;
  }

  .checkbox--icon-#{$color}-#{$size} svg {
    fill: map-get(map-get($color-map, $color), "default");
    padding: 9px;
    @if $size == "small" {
      position: absolute;
      height: variable.$small-box-size;
      width: variable.$small-box-size;
    } @else if $size == "medium" {
      position: absolute;
      height: variable.$medium-box-size;
      width: variable.$medium-box-size;
    } @else if $size == "large" {
      position: absolute;
      height: variable.$large-box-size;
      width: variable.$large-box-size;
    }
  }
  .checkbox--icon-#{$size}-disabled svg {
    fill: variable.$disabled-color;
    padding: 9px;
    @if $size == "small" {
      position: absolute;
      height: 15px;
      width: 15px;
    } @else if $size == "medium" {
      position: absolute;
      height: 18px;
      width: 18px;
    } @else if $size == "large" {
      position: absolute;
      height: 21px;
      width: 21px;
    }
  }
  .checkbox--container-#{$labelPlace} {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    @if $labelPlace == "end" {
      flex-direction: row;
    } @else if $labelPlace == "top" {
      flex-direction: column-reverse;
    } @else if $labelPlace == "start" {
      flex-direction: row-reverse;
    } @else if $labelPlace == "bottom" {
      flex-direction: column;
    }
  }
  .checkbox--content {
    display: inline-flex;
  }
  .checkbox--label-#{$labelPlace} {
    display: inline-flex;
    @if $labelPlace == "end" {

    } @else if $labelPlace == "top" {

    } @else if $labelPlace == "start" {

    } @else if $labelPlace == "bottom" {
      
    }
  }
}

$colors: ("primary", "secondary", "default");
$sizes: ("small", "medium", "large");
$labelPlacement: ("end", "top", "start", "bottom");

@mixin generate-color-size-class-labels {
  @each $size in $sizes {
    @each $color in $colors {
      @each $labelPlace in $labelPlacement {
        @include color-size-class-label($color, $size, $labelPlace);
      }
    }
  }
}

@include generate-color-size-class-labels();

.checkbox span {
  user-select: none;
}

@keyframes rippleEffect {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.3;
  }
  50% {
    width: 75px;
    height: 75px;
    opacity: 0.1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
