@use "../../scss/variable";
@use "../../scss/mixin";

/***************** Button Group *******************/
.btn-group {
  position: fixed;
  left: 30%;
  top: 30%;
}

/***************** Bottom *******************/
.drawer-bottom-true {
  min-width: 90%;
  position: fixed;
  left: 5%;
  bottom: 3%;
  transition: transform 1s;
  outline: darkgray solid 0.5mm;
  background-color: beige;
}

.drawer-bottom-false {
  visibility: hidden;
  transform: translateY(80%);
}

.drawer-bottom-container {
  display: flex;
  gap: 25px;
  list-style: none;
}

/***************** Top *******************/
.drawer-top-true {
  min-width: 90%;
  position: fixed;
  left: 5%;
  top: 3%;
  transition: transform 1s;
  outline: darkgray solid 0.5mm;
  background-color: beige;
}

.drawer-top-false {
  visibility: hidden;
  transform: translateY(-80%);
}

.drawer-top-container {
  display: flex;
  gap: 25px;
  list-style: none;
}

/***************** Left *******************/
.drawer-left-true {
  min-width: 10%;
  min-height: 90%;
  position: fixed;
  left: 2%;
  top: 3%;
  transition: transform 1s;
  outline: darkgray solid 0.5mm;
  background-color: beige;
}

.drawer-left-false {
  visibility: hidden;
  transform: translateX(-10%);
}

.drawer-left-container {
  padding: 15%;
  list-style: none;
}

/***************** Right *******************/
.drawer-right-true {
  min-width: 10%;
  min-height: 90%;
  position: fixed;
  right: 2%;
  top: 3%;
  transition: transform 1s;
  outline: darkgray solid 0.5mm;
  background-color: beige;
}

.drawer-right-false {
  visibility: hidden;
  transform: translateX(10%);
}

.drawer-right-container {
  padding: 10%;
  list-style: none;
}
