@use "../../scss/variable";
@use "../../scss/mixin";

/************************* Left ******************/
// .button {
//   width: 50px;
//   height: 50px;
//   border: none;
//   padding: 0px;
//   top: 0px;
//   left: 100px;
//   margin-top: -50px;
//   background: linear-gradient(
//     to bottom,
//     gray,
//     gray 20%,
//     white 20%,
//     white 40%,
//     gray 40%,
//     gray 60%,
//     white 60%,
//     white 80%,
//     gray 80%,
//     gray 100%
//   );
//   transition: transform 1s;
// }

// #drawer {
//   width: 150px;
//   left: -150px;
//   position: absolute;
//   min-height: 95vh;
//   margin-top: -80px;
//   transition: transform 1s;
//   outline: darkgray solid 0.5mm;
//   background-color: beige;
// }

// .button:focus + #drawer {
//   transform: translateX(110%);
// }

// .button:focus {
//   transform: translateX(100px);
// }

/*******************Right****************/
// .button {
//   width: 50px;
//   height: 50px;
//   border: none;
//   margin-top: -50px;
//   top: 100px;
//   right: 100px;
//   position: absolute;
//   background: linear-gradient(
//     to bottom,
//     gray,
//     gray 20%,
//     white 20%,
//     white 40%,
//     gray 40%,
//     gray 60%,
//     white 60%,
//     white 80%,
//     gray 80%,
//     gray 100%
//   );
//   transition: transform 1s;
// }

// #drawer {
//   min-height: 95vh;
//   width: 150px;
//   right: -150px;
//   position: absolute;
//   margin-top: -80px;
//   transition: transform 1s;
//   outline: darkgray solid 0.5mm;
//   background-color: beige;
// }

// .button:focus + #drawer {
//   transform: translateX(-110%);
// }

// .button:focus {
//   transform: translateX(-100px);
// }

/***************** Top *******************/
// .button {
//   width: 50px;
//   height: 50px;
//   border: none;
//   padding: 0px;
//   top: 0px;
//   left: 100px;
//   margin-top: -50px;
//   background: linear-gradient(
//     to bottom,
//     gray,
//     gray 20%,
//     white 20%,
//     white 40%,
//     gray 40%,
//     gray 60%,
//     white 60%,
//     white 80%,
//     gray 80%,
//     gray 100%
//   );
//   transition: transform 1s;
// }

// #drawer-container {
//   display: flex;
//   gap: 25px;
//   list-style: none;
// }

// #drawer {
//   min-width: 150vh;
//   min-height: 5vh;
//   position: absolute;
//   margin-top: -180px;
//   transition: transform 1s;
//   outline: darkgray solid 0.5mm;
//   background-color: beige;
// }

// .button:focus + #drawer {
//   transform: translateY(200%);
// }

// .button:focus {
//   transform: translateY(50px);
// }

/***************** Bottom *******************/
