@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@mixin font-large {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.46px;
}

@mixin font-medium {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

@mixin font-small {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.46px;
}
