@use "../sass/variable";

.star__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    width: variable.$primary-width;
    height: variable.$primary-height;
    cursor: pointer;
}

.star__on {
    color: variable.$primary-color; 
    border: none;
    background-color: white;
}

.star__off {
    color: #999999;
    border: none;
    background-color: white;
}
